body.gender {
  background-color: transparent;
  position: relative;
  width: 94%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  outline-style: double;
}

body.gender .gender-content ul {
  list-style: none;
  padding: 0;
}

body.gender .gender-content .row {
  text-align: left;
}

@media (min-width: 992px) {
  body.gender {
    height: 30vh;
    min-height: 300px;
    margin: 20px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px;
  }
}
